* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.calculator {
  max-width: 30rem;
  min-height: 30rem;
  background-color: #242530;
  margin: 5rem auto;
}

/* Output */
.output {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr minmax(5rem, auto);
  padding: 2rem 3rem;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.previous_operation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.8rem;
  min-height: 10rem;
}

.current_operation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* max-width: 100%; */
  font-size: 3.2rem;
  /* min-height: 5rem; */
  /* flex-wrap: wrap; */
}

/* Button grid */

.buttons_grid {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.buttons {
  padding: 2rem;
  font-size: 2.4rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
}

.equal {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
  padding: 4rem 2rem;
  font-size: 2.4rem;
  height: 15rem;
  background-color: #ffbb00;
  transition: all 0.3s;
}

.equal:hover {
  background-color: #ffd700;
}

.equal:active {
  background-color: #ff9900;
}

.light-btn {
  background-color: #363746;
  color: #ffbb00;
}

.light-btn:hover {
  background-color: #aaaaaa;
}

.light-btn:active {
  background-color: #595775;
}

.dark-btn {
  background-color: #2e2f3e;
}

.dark-btn:hover {
  background-color: #7e7d8c;
}

.dark-btn:active {
  background-color: #595775;
}

.border-radius--left {
  border-top-left-radius: 3rem;
}

.border-radius--right {
  border-top-right-radius: 3rem;
}

.leftmg {
  margin-left: 0.5rem;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #242530;
}

.copyright {
  font-size: 2.2rem;
  padding: 3rem 2rem 1rem 2rem;
}

.leftmg {
  margin-left: 0.6rem;
}

.fa-github {
  color: #242530;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.2);
}
